@charset "UTF-8";
h1 {
	font-size: 62px;
	color: #FF0000;
	width: 350px;
	font-family: 'Karla';
	margin: 0 auto;
	text-align: center;
}

.cancel_button{
	height: 30px;
	background: none;
	border: none;
	outline: none;
	padding-left: 10px;
	font-size: 20px;
	font-weight:bold;
	color: #8938E9;
	outline: none;
}

.sure_button {
	height: 30px;
	width: 100px;
	background: #00FDFF;
	border-radius: 9px;
	border: 0;
	color: White;
	outline: none;
	font-size: 20px;
	font-weight: bold;
}